In [48]:
import numpy as np
import pandas as pd
# import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [19]:
dataset = pd.read_csv('./data/caesarian.csv')

In [20]:
dataset.head()

   id  Age  DeliveryN  DeliveryT  Blood  Heart  Caesarian
0   1   22          1          0      2      0          0
1   2   26          2          0      1      0          1
2   3   26          2          1      1      0          0
3   4   28          1          0      2      0          0
4   5   22          2          0      1      0          1

In [21]:
dataset.describe()

,id,Age,DeliveryN,DeliveryT,Blood,Heart,Caesarian
count,80.0000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000
mean,40.5000,27.687500,1.662500,0.637500,1.000000,0.375000,0.575000
std,23.2379,5.017927,0.794662,0.815107,0.711568,0.487177,0.497462
min,1.0000,17.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,20.7500,25.000000,1.000000,0.000000,0.750000,0.000000,0.000000
50%,40.5000,27.000000,1.000000,0.000000,1.000000,0.000000,1.000000
75%,60.2500,32.000000,2.000000,1.000000,1.250000,1.000000,1.000000
max,80.0000,40.000000,4.000000,2.000000,2.000000,1.000000,1.000000

In [49]:
# fix random seed for reproducibility
np.random.seed(7)

In [5]:
sns.pairplot(dataset, hue='Caesarian')

NameError: name 'sns' is not defined

In [22]:
# encode class values as integers
enc_DeliveryN = pd.get_dummies(dataset['DeliveryN'], prefix='DeliveryN')
enc_DeliveryT = pd.get_dummies(dataset['DeliveryN'], prefix='DeliveryT')
enc_Blood = pd.get_dummies(dataset['Blood'], prefix='Blood')

In [23]:
# Normalize age
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
dataset['Age'] = scaler.fit_transform(dataset[['Age']])

/home/paurakh/miniconda3/envs/ml-class/lib/python3.6/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [24]:
dataset['Age'].head()

0    0.217391
1    0.391304
2    0.391304
3    0.478261
4    0.217391
Name: Age, dtype: float64

In [28]:
# create feature dataframe
X = pd.concat([dataset['Age'], enc_DeliveryN, enc_DeliveryT, enc_Blood, dataset['Heart']], axis=1, sort=False)

# create lable dataframe
y = dataset['Caesarian']

In [26]:
X.head()

,Age,DeliveryN_1,DeliveryN_2,DeliveryN_3,DeliveryN_4,DeliveryT_1,DeliveryT_2,DeliveryT_3,DeliveryT_4,Blood_0,Blood_1,Blood_2,Heart
0,0.217391,1,0,0,0,1,0,0,0,0,0,1,0
1,0.391304,0,1,0,0,0,1,0,0,0,1,0,0
2,0.391304,0,1,0,0,0,1,0,0,0,1,0,0
3,0.478261,1,0,0,0,1,0,0,0,0,0,1,0
4,0.217391,0,1,0,0,0,1,0,0,0,1,0,0

In [27]:
y.head()

0    0
1    1
2    0
3    0
4    1
Name: Caesarian, dtype: int64

In [30]:
# split features and labels into train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [37]:
print('X_train shape: ', X_train.shape)
print('y_train shape: ', y_train.shape)
print('X_test shape: ', X_test.shape)
print('y_test shape: ', y_test.shape)

X_train shape:  (56, 13)
y_train shape:  (56,)
X_test shape:  (24, 13)
y_test shape:  (24,)

In [38]:
# Build keras model

from keras import Sequential
from keras.layers import Dense

model = Sequential()
#First Hidden Layer
model.add(Dense(4, activation='relu', kernel_initializer='random_normal', input_dim=13))
#Second  Hidden Layer
model.add(Dense(4, activation='relu', kernel_initializer='random_normal'))
#Output Layer
model.add(Dense(1, activation='sigmoid', kernel_initializer='random_normal'))

Using TensorFlow backend.

WARNING:tensorflow:From /home/paurakh/miniconda3/envs/ml-class/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [40]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 4)                 56
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 20
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 5
=================================================================
Total params: 81
Trainable params: 81
Non-trainable params: 0
_________________________________________________________________

In [41]:
#compile the model
model.compile(optimizer ='adam',loss='binary_crossentropy', metrics =['accuracy'])

In [43]:
# fit the model
model.fit(X_train,y_train, batch_size=10, epochs=100)

WARNING:tensorflow:From /home/paurakh/miniconda3/envs/ml-class/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
56/56 [==============================] - 1s 26ms/step - loss: 0.6932 - acc: 0.4821
Epoch 2/100
56/56 [==============================] - 0s 200us/step - loss: 0.6929 - acc: 0.5536
Epoch 3/100
56/56 [==============================] - 0s 255us/step - loss: 0.6928 - acc: 0.5536
Epoch 4/100
56/56 [==============================] - 0s 266us/step - loss: 0.6927 - acc: 0.5536
Epoch 5/100
56/56 [==============================] - 0s 198us/step - loss: 0.6926 - acc: 0.5536
Epoch 6/100
56/56 [==============================] - 0s 185us/step - loss: 0.6924 - acc: 0.5536
Epoch 7/100
56/56 [==============================] - 0s 451us/step - loss: 0.6924 - acc: 0.5536
Epoch 8/100
56/56 [==============================] - 0s 240us/step - loss: 0.6922 - acc: 0.5536
Epoch 9/100
56/56 [==============================] - 0s 256us/step - loss: 0.6921 - acc: 0.5536
Epoch 10/100
56/56 [==============================] - 0s 256us/step - loss: 0.6921 - acc: 0.5536
Epoch 11/100
56/56 [==============================] - 0s 184us/step - loss: 0.6920 - acc: 0.5536
Epoch 12/100
56/56 [==============================] - 0s 197us/step - loss: 0.6919 - acc: 0.5536
Epoch 13/100
56/56 [==============================] - 0s 221us/step - loss: 0.6918 - acc: 0.5536
Epoch 14/100
56/56 [==============================] - 0s 239us/step - loss: 0.6917 - acc: 0.5536
Epoch 15/100
56/56 [==============================] - 0s 209us/step - loss: 0.6916 - acc: 0.5536
Epoch 16/100
56/56 [==============================] - 0s 216us/step - loss: 0.6915 - acc: 0.5536
Epoch 17/100
56/56 [==============================] - 0s 254us/step - loss: 0.6914 - acc: 0.5536
Epoch 18/100
56/56 [==============================] - 0s 247us/step - loss: 0.6913 - acc: 0.5536
Epoch 19/100
56/56 [==============================] - 0s 235us/step - loss: 0.6913 - acc: 0.5536
Epoch 20/100
56/56 [==============================] - 0s 231us/step - loss: 0.6912 - acc: 0.5536
Epoch 21/100
56/56 [==============================] - 0s 218us/step - loss: 0.6911 - acc: 0.5536
Epoch 22/100
56/56 [==============================] - 0s 168us/step - loss: 0.6910 - acc: 0.5536
Epoch 23/100
56/56 [==============================] - 0s 222us/step - loss: 0.6910 - acc: 0.5536
Epoch 24/100
56/56 [==============================] - 0s 200us/step - loss: 0.6909 - acc: 0.5536
Epoch 25/100
56/56 [==============================] - 0s 251us/step - loss: 0.6908 - acc: 0.5536
Epoch 26/100
56/56 [==============================] - 0s 252us/step - loss: 0.6906 - acc: 0.5536
Epoch 27/100
56/56 [==============================] - 0s 179us/step - loss: 0.6905 - acc: 0.5536
Epoch 28/100
56/56 [==============================] - 0s 265us/step - loss: 0.6903 - acc: 0.5536
Epoch 29/100
56/56 [==============================] - 0s 268us/step - loss: 0.6901 - acc: 0.5536
Epoch 30/100
56/56 [==============================] - 0s 201us/step - loss: 0.6899 - acc: 0.5536
Epoch 31/100
56/56 [==============================] - 0s 140us/step - loss: 0.6897 - acc: 0.5536
Epoch 32/100
56/56 [==============================] - 0s 229us/step - loss: 0.6895 - acc: 0.5536
Epoch 33/100
56/56 [==============================] - 0s 243us/step - loss: 0.6893 - acc: 0.5536
Epoch 34/100
56/56 [==============================] - 0s 151us/step - loss: 0.6891 - acc: 0.5536
Epoch 35/100
56/56 [==============================] - 0s 221us/step - loss: 0.6888 - acc: 0.5536
Epoch 36/100
56/56 [==============================] - 0s 267us/step - loss: 0.6885 - acc: 0.5536
Epoch 37/100
56/56 [==============================] - 0s 196us/step - loss: 0.6882 - acc: 0.5536
Epoch 38/100
56/56 [==============================] - 0s 368us/step - loss: 0.6880 - acc: 0.5536
Epoch 39/100
56/56 [==============================] - 0s 177us/step - loss: 0.6877 - acc: 0.5536
Epoch 40/100
56/56 [==============================] - 0s 267us/step - loss: 0.6873 - acc: 0.5536
Epoch 41/100
56/56 [==============================] - 0s 177us/step - loss: 0.6869 - acc: 0.5536
Epoch 42/100
56/56 [==============================] - 0s 294us/step - loss: 0.6865 - acc: 0.5536
Epoch 43/100
56/56 [==============================] - 0s 258us/step - loss: 0.6861 - acc: 0.5536
Epoch 44/100
56/56 [==============================] - 0s 274us/step - loss: 0.6855 - acc: 0.5536
Epoch 45/100
56/56 [==============================] - 0s 232us/step - loss: 0.6852 - acc: 0.5536
Epoch 46/100
56/56 [==============================] - 0s 194us/step - loss: 0.6845 - acc: 0.5893
Epoch 47/100
56/56 [==============================] - 0s 276us/step - loss: 0.6841 - acc: 0.6250
Epoch 48/100
56/56 [==============================] - 0s 169us/step - loss: 0.6838 - acc: 0.6429
Epoch 49/100
56/56 [==============================] - 0s 199us/step - loss: 0.6829 - acc: 0.6964
Epoch 50/100
56/56 [==============================] - 0s 157us/step - loss: 0.6825 - acc: 0.6964
Epoch 51/100
56/56 [==============================] - 0s 219us/step - loss: 0.6818 - acc: 0.6964
Epoch 52/100
56/56 [==============================] - 0s 166us/step - loss: 0.6811 - acc: 0.6964
Epoch 53/100
56/56 [==============================] - 0s 229us/step - loss: 0.6807 - acc: 0.6964
Epoch 54/100
56/56 [==============================] - 0s 190us/step - loss: 0.6798 - acc: 0.7143
Epoch 55/100
56/56 [==============================] - 0s 194us/step - loss: 0.6792 - acc: 0.7143
Epoch 56/100
56/56 [==============================] - 0s 236us/step - loss: 0.6785 - acc: 0.7143
Epoch 57/100
56/56 [==============================] - 0s 165us/step - loss: 0.6779 - acc: 0.6964
Epoch 58/100
56/56 [==============================] - 0s 151us/step - loss: 0.6772 - acc: 0.6964
Epoch 59/100
56/56 [==============================] - 0s 159us/step - loss: 0.6767 - acc: 0.6964
Epoch 60/100
56/56 [==============================] - 0s 246us/step - loss: 0.6756 - acc: 0.6964
Epoch 61/100
56/56 [==============================] - 0s 187us/step - loss: 0.6750 - acc: 0.6964
Epoch 62/100
56/56 [==============================] - 0s 245us/step - loss: 0.6741 - acc: 0.6964
Epoch 63/100
56/56 [==============================] - 0s 176us/step - loss: 0.6734 - acc: 0.6964
Epoch 64/100
56/56 [==============================] - 0s 221us/step - loss: 0.6727 - acc: 0.6964
Epoch 65/100
56/56 [==============================] - 0s 237us/step - loss: 0.6717 - acc: 0.6964
Epoch 66/100
56/56 [==============================] - 0s 215us/step - loss: 0.6711 - acc: 0.6964
Epoch 67/100
56/56 [==============================] - 0s 197us/step - loss: 0.6701 - acc: 0.6964
Epoch 68/100
56/56 [==============================] - 0s 180us/step - loss: 0.6692 - acc: 0.6964
Epoch 69/100
56/56 [==============================] - 0s 253us/step - loss: 0.6684 - acc: 0.6964
Epoch 70/100
56/56 [==============================] - 0s 206us/step - loss: 0.6677 - acc: 0.6964
Epoch 71/100
56/56 [==============================] - 0s 256us/step - loss: 0.6668 - acc: 0.6964
Epoch 72/100
56/56 [==============================] - 0s 335us/step - loss: 0.6660 - acc: 0.6964
Epoch 73/100
56/56 [==============================] - 0s 335us/step - loss: 0.6651 - acc: 0.6964
Epoch 74/100
56/56 [==============================] - 0s 190us/step - loss: 0.6643 - acc: 0.6964
Epoch 75/100
56/56 [==============================] - 0s 157us/step - loss: 0.6635 - acc: 0.6964
Epoch 76/100
56/56 [==============================] - 0s 155us/step - loss: 0.6628 - acc: 0.6964
Epoch 77/100
56/56 [==============================] - 0s 317us/step - loss: 0.6617 - acc: 0.6964
Epoch 78/100
56/56 [==============================] - 0s 235us/step - loss: 0.6611 - acc: 0.6964
Epoch 79/100
56/56 [==============================] - 0s 148us/step - loss: 0.6603 - acc: 0.6964
Epoch 80/100
56/56 [==============================] - 0s 279us/step - loss: 0.6594 - acc: 0.6964
Epoch 81/100
56/56 [==============================] - 0s 201us/step - loss: 0.6590 - acc: 0.6964
Epoch 82/100
56/56 [==============================] - 0s 238us/step - loss: 0.6579 - acc: 0.6964
Epoch 83/100
56/56 [==============================] - 0s 133us/step - loss: 0.6575 - acc: 0.6964
Epoch 84/100
56/56 [==============================] - 0s 333us/step - loss: 0.6563 - acc: 0.6964
Epoch 85/100
56/56 [==============================] - 0s 184us/step - loss: 0.6560 - acc: 0.6964
Epoch 86/100
56/56 [==============================] - 0s 314us/step - loss: 0.6550 - acc: 0.6964
Epoch 87/100
56/56 [==============================] - 0s 178us/step - loss: 0.6543 - acc: 0.6964
Epoch 88/100
56/56 [==============================] - 0s 158us/step - loss: 0.6536 - acc: 0.6964
Epoch 89/100
56/56 [==============================] - 0s 286us/step - loss: 0.6529 - acc: 0.6964
Epoch 90/100
56/56 [==============================] - 0s 260us/step - loss: 0.6522 - acc: 0.6964
Epoch 91/100
56/56 [==============================] - 0s 179us/step - loss: 0.6516 - acc: 0.6964
Epoch 92/100
56/56 [==============================] - 0s 178us/step - loss: 0.6510 - acc: 0.6964
Epoch 93/100
56/56 [==============================] - 0s 264us/step - loss: 0.6502 - acc: 0.6964
Epoch 94/100
56/56 [==============================] - 0s 148us/step - loss: 0.6496 - acc: 0.6964
Epoch 95/100
56/56 [==============================] - 0s 179us/step - loss: 0.6490 - acc: 0.6964
Epoch 96/100
56/56 [==============================] - 0s 221us/step - loss: 0.6484 - acc: 0.6964
Epoch 97/100
56/56 [==============================] - 0s 147us/step - loss: 0.6479 - acc: 0.6964
Epoch 98/100
56/56 [==============================] - 0s 137us/step - loss: 0.6471 - acc: 0.6964
Epoch 99/100
56/56 [==============================] - 0s 190us/step - loss: 0.6466 - acc: 0.6964
Epoch 100/100
56/56 [==============================] - 0s 164us/step - loss: 0.6461 - acc: 0.6964

In [56]:
# evaluate the model
scores = model.evaluate(X, y, verbose=0)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

acc: 67.50%

In [57]:
# save the model

# serialize model to JSON
model_json = model.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model.h5")
print("Saved model to disk")

Saved model to disk

In [58]:
from keras.models import model_from_json

# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")

Loaded model from disk

In [59]:
# evaluate loaded model on test data
loaded_model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
score = loaded_model.evaluate(X, y, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))

acc: 67.50%